body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 24px;
}

h1, h2, h3, p, ul, li {
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.6em;
   padding: 8px 0;
}

h3 {
   font-size: 1.3em;
   padding: 8px 0;
}

#main {
  padding: 16px;
  color: white;
  background: url(../images/bg3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main .section_devider {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 1px solid white;
}

.hidden {
  display: none !important;
}

#name {
  font-weight: bold;
  font-size: 1.5em;
}

#nameInputDiv #name {
   width: 100%;
}

.avatarContainer {
  width: 100%;
}

.avatarContainer img {
  max-height: 100%;
  max-width: 100%;
}

div .section {
  padding: 16px 24px;
}

/* --- Character Stats --- */
div .stat {
  padding-top: 5px;
}

div .stat p {
   display: inline-block;
   font-weight: 300;
}

span .statLabel {
  display:inline-block;
}

div .statLabel p {
   font-weight: 700;
   width: 40%;
}
/* --- Character Stats close --- */

.skillCluster {
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
}

span .skillCost, span .specCost {
  font-style: italic;
  color: #888;
  font-size: 14px;
  margin-left: 20px;
}

span .skillLabel {
  display: inline-block;
  width: 100px;
}

span .specLabel {
	display: inline-block;
	width: 90px;
	margin-left: 10px;
	font-style: italic;
}

span .skillValue, span .specRanks {
	display: inline-block;
	width: 30px;
	text-align: right;
}

input .specName {
	width: 120px;
	margin-left: 10px;
}
