@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.woff') format('woff'),
         url('../fonts/CaviarDreams.ttf') format('truetype'),
         url('../fonts/CaviarDreams.svg#CaviarDreams') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 24px;
}

h1, h2, h3, p, ul, li, input {
   margin: 0;
   padding: 0;
}

h1 {
   font-family: 'CaviarDreams', Helvetica, sans-serif;
   font-size: 2em;
   text-transform: uppercase;
}

h2 {
   font-family: 'CaviarDreams', Helvetica, sans-serif;
   font-size: 1.6em;
   padding: 8px 0;
}

h3 {
   font-family: 'CaviarDreams', Helvetica, sans-serif;
   font-size: 1.3em;
   padding: 8px 0;
}

input {
   width: 30%;
   font-size: 1em;
   vertical-align: text-top;
}

#main {
  padding: 16px;
  color: white;
  background: url(../images/bg3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main .section_divider {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 1px solid white;
}

.hidden {
  display: none !important;
}

#name {
  font-weight: bold;
  font-size: 1.5em;
}

#nameInputDiv #name {
   width: 100%;
}

.avatarContainer {
  width: 100%;
}

.avatarContainer img {
  max-height: 100%;
  max-width: 100%;
}

div.section {
  padding: 16px 24px;
}


/* --- Top --- */

#uidInputDiv h3 {
   display: inline-block;
}

#uidInput {
   margin-top: -4px;
}


/* --- Character Stats --- */
div.stat {
   width: 100%;
   padding-top: 5px;
   display: inline-block;
   font-weight: 300;
}

span.statLabel {
   display:inline-block;
   font-weight: 700;
   width: 40%;
}


/* --- Character Stats close --- */

.skillCluster {
  font-weight: bold;
  padding-top: 15px;
}

.skillBlock {
   position: relative;
}

#skillElemental h2 {
   display: block;
   width: auto;
   color: white;
   background-color: rgba(0,0,0,0.5);
   padding: 20px;
   text-transform: uppercase;
   font-size: 2em;
}

span.skillCost, span.specCost {
  font-style: italic;
  color: #888;
  font-size: 14px;
  margin-left: 20px;
}

span.skillLabel {
  display: inline-block;
}

span.skillLabel h3 {
   width: 300px;
   height: 93px;
}

span.skillLabel h3.fire_element {
   background: url(../images/fire_element.png) no-repeat center center;
}

span.specLabel {
	display: inline-block;
	width: 90px;
	margin-left: 10px;
	font-style: italic;
}

span.skillValue {
   position: absolute;
   top: 60px;
   left: 237px;
}

span.specRanks {
	display: inline-block;
	width: 30px;
	text-align: right;
}

input.specName {
	width: 120px;
	margin-left: 10px;
}
